.has-error {
    border-color: red;
}

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 992px) {
    .card-container {
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: transparent;
    border: none;
    color: black;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    width: 100px;
}

.pagination button:disabled {
    background-color: transparent;
    border: none;
    color: gray;
    cursor: not-allowed;
}

.page-number {
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.event-schedule-area-two .section-title .title-text h2 {
    margin: 0px 0 15px;
}

.event-schedule-area-two ul.custom-tab {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
}
.event-schedule-area-two ul.custom-tab li {
    margin-right: 70px;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a {
    color: #252525;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 35px 0;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a:hover:before {
    width: 100%;
}
.event-schedule-area-two ul.custom-tab li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #4125dd;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two ul.custom-tab li a.active {
    color: #4125dd;
}

.book-image {
    width: auto;
    height: 100px;
    border-radius: 8px;
    margin-left: 80px;
}

.login-image {
    height: 100vh;
    max-height: 100vh;
    background-image: url('src/assets/books.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add-book-button {
    position: relative;
    cursor: pointer;
}

.add-book-button-image:hover {
    opacity: 0.8;
}

.add-book-button-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 30px;
}

.add-book-button-text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.add-book-button:hover .add-book-button-overlay {
    opacity: 1;
}

.plus-character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.add-book-button:hover .plus-character {
    opacity: 0;
}